.headline {
  color: white;
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 110px
}

.button_holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button {
  font-family: 'Catamaran';
  font-size: 50px;
  border-radius: 4px;
  border: none;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: rgb(114, 175, 171);
  font-weight: bold;

}

.button a:hover {
  color: rgb(230, 179, 147);
  text-decoration: none;
}
