.background {
  background-image: url(https://images.pexels.com/photos/412681/pexels-photo-412681.jpeg?cs=srgb&dl=beach-buildings-city-412681.jpg&fm=jpg);
  height:800px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
